<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background-color: rgb(87, 81, 81);
        margin: 20px;
        display: inline-block;
      }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <h1>Hi this is vue</h1>

    <div id="app">
      <!-- cannot use data outside of this app -->

      <div v-if="show">
        <h2>{{title}} - {{year}}</h2>
      </div>

      <button v-on:click="year++">Increase Year</button>
      <button v-on:click="year--">Decrease Year</button>

      <div v-on:click="changeTitle">Change 1</div>
      <div v-on:click="changeTitleViaArg('VodeAn')">Change 3</div>
      <div @click="title = 'Return of the Jedi'">Change 2</div>

      <div>
        <button @click="toogleData()" v-if="show">Toggle Show</button>
        <!-- If show is true then show to toggle false -->
        <button @click="toogleData()" v-else>Toggle Show</button>
        <!-- if show is false then show to toggle true -->
      </div>
      <!-- v-on is used for events -->

      <!-- Mouse Events -->
      <!-- event argument passed in the function -->
      <div class="box" @mouseover="handleEvent($event,10)">Mouse Over</div>
      <div class="box" @mouseleave="handleEvent($event,10)">Mouse Leave</div>
      <div class="box" @dblclick="handleEvent($event,10)">Double Click</div>
      <div class="box" @mousemove="handleMouseMove">{{x}} <--> {{y}}</div>

      <div class="gamer">
        <ul v-for="game in games">
          <li>{{game.name}} -- {{game.price}}</li>
        </ul>
      </div>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
